<div class="password-reset-container">
  <h2>New password</h2>
  <form [formGroup]="form" (ngSubmit)="saveNewPassword()">
    <div class="form-group">
      <label for="new-password">New password</label>
      <input
        type="password"
        formControlName="newPassword"
        id="new-password"
        required
      />
      <span class="toggle-password" (click)="togglePasswordVisibility($event)"
        >👁️</span
      >
      <div *ngIf="form.get('newPassword')?.touched">
        <!-- Use bracket notation for error properties -->
        <span
          *ngIf="form.get('newPassword')?.errors?.['required']"
          class="error"
          >Password is required.</span
        >
        <span
          *ngIf="form.get('newPassword')?.errors?.['minlength']"
          class="error"
          >Password must be at least 8 characters long.</span
        >
      </div>
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm New Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        id="confirm-password"
        required
      />
      <span class="toggle-password" (click)="togglePasswordVisibility($event)"
        >👁️</span
      >
      <div
        *ngIf="form.get('confirmPassword')?.touched && form.errors?.['mismatch']"
        class="error"
      >
        Passwords do not match.
      </div>
    </div>
    <button type="submit" [disabled]="form.invalid">Save</button>
  </form>
</div>
