<div class="user-name">
  <h1>Hello! {{ userName }}</h1>
</div>

<div class="vehicles">
  <div class="vehicles-header">
    <div class="vehicles-header-left">
      <h2>Registered Vehicles</h2>
      <button class="sign-in-button">
        Add New &nbsp; <mat-icon>add</mat-icon>
      </button>
    </div>
    <button mat-button (click)="navigate('vehicle')">View All</button>
  </div>
  <mat-divider></mat-divider>
  <!-- Vehicles List -->
  <div class="vehicle-list">
    <div *ngFor="let vehicle of vehicles; let i = index" class="vehicle-card">
      <registered-vehicle-card [vehicle]="vehicle"></registered-vehicle-card>
    </div>
  </div>
</div>

<div class="tire-checkups">
  <div class="tire-checkups-header">
    <div class="vehicles-header-left">
      <h2>Tire Checkups</h2>
      <button class="sign-in-button" (click)="navigate('newChecks')">
        New Test &nbsp; <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <button mat-button (click)="navigate('tireChecks')">View All</button>
  </div>
  <mat-divider></mat-divider>
  <!-- Tire Checkups List -->
  <div class="tire-check-list">
    <div
      *ngFor="let tirecheck of tireCheckups; let i = index"
      class="vehicle-card"
    >
      <tire-check-history-card
        [tirecheck]="tirecheck"
      ></tire-check-history-card>
    </div>
  </div>
</div>
