<!-- app.component.html -->
<div class="header">
  <button mat-button (click)="navigate('goBack')">
    <mat-icon>arrow_back_ios</mat-icon>Go Back
  </button>
</div>
<div class="vehicles-header-left">
  <h2>Tire Checkups</h2>
  <button class="sign-in-button" (click)="navigate('newCheck')">
    New Test &nbsp; <mat-icon>chevron_right</mat-icon>
  </button>
  <add-vehicle-model #addVehicleModelPanel></add-vehicle-model>
</div>

<div class="cards-container">
  <div
    *ngFor="
      let tirecheck of tireCheckups
        | slice : pageIndex * pageSize : (pageIndex + 1) * pageSize;
      let i = index
    "
    class="vehicle-card"
  >
    <tire-check-history-card [tirecheck]="tirecheck"></tire-check-history-card>
  </div>
</div>

<div class="pagination">
  <mat-paginator
    #paginator
    class="demo-paginator"
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [disabled]="false"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="true ? pageSizeOptions : []"
    [hidePageSize]="false"
    [pageIndex]="pageIndex"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
