.dashboard {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    background-color: #242424;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .avatar-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: fit-content;
      background-color: #ccc;
      position: relative;
      overflow: hidden;

      .avatar-img {
        transition: transform 0.3s ease;
      }

      &:hover .avatar-img {
        transform: scale(1.1);
      }

      .avatar-circle {
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        border-radius: 50%;
        background-color: #ccc;
      }
    }
  }


  @media (max-width: 768px) {
    .header {
      padding: 1rem;
    }
  }
}
