.forget-password-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  background-color: #fff;

  .forget-password-form-container {
    z-index: 2;
    border: 1px solid black;

    .logo {
      position: absolute;
      top: 60px;
      left: 60px;
    }
  }

  .legal-links {
    position: absolute;
    bottom: 20px;
    right: 400px;
    font-size: 0.8rem;

    a {
      color: #666;
      text-decoration: none;
      margin: 0 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .tire-track-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

    .tire-track {
      height: 100%;
    }
  }
}
