<div class="forget-password-page">
    <div class="forget-password-form-container">
      <img
        src="../../../../../assets/icons/tire-vision-logo.svg"
        alt="Tire Vision Logo"
        class="logo"
      />
      <router-outlet />
      <div class="legal-links">
        <a href="#" class="terms">Terms and conditions</a> •
        <a href="#" class="privacy">Privacy policy</a>
      </div>
    </div>
    <div class="tire-track-container">
      <img
        src="../../../../../assets/icons/verticle-tire.svg"
        alt="Tire Track"
        class="tire-track"
      />
    </div>
  </div>
  
