@use "../../../../src/assets/styles/variables" as *;

@mixin button-style(
  $bg-color,
  $text-color: $text-color,
  $hover-bg: $hover-bg,
  $hover-text: black
) {
  background-color: $bg-color;
  color: $text-color;
  &:hover {
    background-color: $hover-bg;
    color: $hover-text;
  }
}

.main {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  .navbar {
    background-color: $primary-bg;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px 5%;
    position: sticky;
    top: 0;
    z-index: 1000;

    &-left,
    &-right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

    &-center {
      flex: 2;
      display: flex;
      justify-content: center;
    }

    a {
      color: $text-color;
      padding: 14px 16px;
      text-decoration: none;
      text-align: center;
      transition: background-color 0.3s, color 0.3s;
      &:hover {
        background-color: $hover-bg;
        color: black;
      }
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .hero-section {
      height: calc(100vh - 66px);
      background-color: $primary-bg;
      background-image: url("../../../assets/icons/horizontal-tire.svg");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
      padding-left: 80px;

      &-logo {
        height: calc(100px);
        background-color: $primary-bg;
        background-image: url("../../../assets/icons/tire-vision-logo.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        padding-left: 42px;
      }

      &-content {
        color: $text-color;
        width: 552px;
        padding-top: 70px;

        p {
          margin-top: 24px;
          margin-bottom: 24px;
        }
      }
    }
  }

  .button {
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;

    &.signin-button {
      @include button-style(
        transparent,
        $signin-color,
        $signin-color,
        $text-color
      );
    }

    &.check-button {
      @include button-style($check-bg, $text-color, $check-hover-bg);
    }
  }
}
