<div class="main">
  <div class="navbar">
    <div class="navbar-left"></div>
    <div class="navbar-center">
      <a href="#home">Home</a>
    </div>
    <div class="navbar-right">
      <button class="button signin-button" routerLink="/auth/login">
        Sign In
      </button>
      <button class="button check-button" routerLink="/default/tire-check">
        Check Now
      </button>
    </div>
  </div>
  <div class="main-container">
    <div class="hero-section">
      <div class="hero-section-logo"></div>
      <div class="hero-section-content">
        <h1>Unleash the Power of <br />Precision with Tire Vision</h1>
        <p>
          Welcome to Tire Vision - Your Ultimate Destination for Tire
          Excellence! Immerse yourself in a seamless blend of cutting-edge
          technology and automotive finesse. Upload tire images and let our
          advanced Machine Learning and Image Processing unveil the true
          condition of your tire. Drive with confidence, drive with Tire Vision
        </p>
        <button class="button check-button" routerLink="/default/tire-check">
          Check Now
        </button>
      </div>
    </div>
  </div>
</div>
